<div class="page-header section-dark" style="background-image: url('{{asset 'img/company-section.jpg'}}')">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
    	<h1 class="presentation-subtitle text-center">{{t "RunAs is a team of real people, aligned in common values. Below are the six values that we aspire to live by on the RunAs team."}}</h1>
		</div>
	</div>
</div>

<div class="section section-testimonial text-left">
    <div class="container">
        <h2 class="title">{{t "The Company"}}</h2>
				<p>RunAs has been created with the evidence and the sense that the management of social network is painful for everyone.</p>
<p>Our platform responds to ensure a strategic presence on social networks and provide a marketing production platform for any sized company.</p>
<div><iframe class="giphy-embed" src="https://giphy.com/embed/ieh305yo7DKqC5Mrla" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1"></iframe></div>
<p><a href="https://giphy.com/gifs/superstore-ieh305yo7DKqC5Mrla">via GIPHY</a></p>
<h2 id="our-core-values-and-operating-principles">Our Core Values and Operating Principles</h2>
<p>At the heart of RunAs is our team. Like any relationship, being part of a team requires regular tending and nurturing. It&rsquo;s always been critically important to me that we have an explicit guide, that we can point to and reference, that speaks to what we value and how we operate.</p>
<h2 id="why-company-culture-matters">Why company culture matters?</h2>
<ul>
<li>A company is like a living organism, and every time someone joins or leaves the company, the organism changes somewhat. Finding a balance between flexibility &nbsp;(because change is inevitable) and consistency (because without it, we have chaos) takes a strong, shared foundation of understanding.</li>
<li>Intentionally creating a company culture is about looking toward the future. It&rsquo;s one of the ways we&rsquo;re building Reaction for sustainable, long-term success.</li>
<li>I&rsquo;ve seen firsthand how positive and productive team members are when they feel connected to their company, when they feel supported, and when they believe the work they&rsquo;re doing has a real impact. I&rsquo;ve also seen the opposite, and it&rsquo;s not pretty for the employees or the company.</li>
</ul>
<p>Core Values are meant to be part of everyday conversations.</p>
<h2 id="our-core-values">Our Core Values</h2>
<h3 id="trust-explicitly-">Trust explicitly.</h3>
<p>We believe in the reliability and capability of our teammates. We encourage everyone at RunAs to exercise leadership in our company and community.</p>
<h3 id="default-to-action-">Default to action.</h3>
<p>Rather than sit on our hands and wait, we roll up our sleeves and take actions. Quick and informed decisions drive our progress. We own our decisions.</p>
<h3 id="focus-">Focus.</h3>
<p>We focus on fewer things and getting those right.</p>
<h3 id="always-go-forward-">Always go forward.</h3>
<p>The path forward is not always straight, but we keep iterating, adjusting, and continually improving.</p>
<h3 id="foster-diversity-through-a-culture-of-support-and-inclusivity-">Foster diversity through a culture of support and inclusivity.</h3>
<p>We aim to help one another, to be open and transparent in our communication, and to spend time actively listening to each other.</p>
<h3 id="own-our-achievements-and-our-mistakes-">Own our achievements and our mistakes.</h3>
<p>We take accountability for all of our actions and encourage learning from our missteps. We pause to celebrate and acknowledge our wins, and we also look at how we can improve.</p>
<h3 id="empathy-toward-our-community-clients-and-team-">Empathy toward our community, clients, and team.</h3>
<p>We are compassionate and understanding of each other and our backgrounds. We strive not to make judgements, but rather we consider the viewpoints of others.</p>
<h2 id="our-operating-principles">Our Operating Principles</h2>
<h3 id="we-re-fully-remote-">We&rsquo;re fully remote.</h3>
<ul>
<li>We are a distributed-first team. We hire the best, no matter where they live.</li>
<li>When one person in the meeting is remote, everyone is remote and at their own computer.</li>
<li>Our default time zone is UTC. When sharing times with others, we always share in UTC and 24-hour.</li>
<li>We strive to store information and knowledge so that it&rsquo;s accessible to everyone, storing permanent knowledge in Notion, or into our public documentation.</li>
<li>Different teams use different tools and process. The ones above are our goto places across all teams.</li>
<li>Every decision that impacts multiple people from the team should be documented.</li>
</ul>
<h3 id="communication-is-everything-">Communication is everything.</h3>
<p>We aim to over-communicate and share more rather than less, but with brevity and conciseness.</p>
<h3 id="we-strive-to-maintain-an-inclusive-work-environment-">We strive to maintain an inclusive work environment.</h3>
<ul>
<li>We use non-gendered and inclusive language. Prefer using "people," "folks," or "everyone" over "guys."</li>
<li>We use asynchronous communication wherever possible. Email, Slack, Notion, Google Docs are preferred tools.</li>
</ul>
<h3 id="time-off-and-time-away-is-critical-to-our-creativity-">Time off and time away is critical to our creativity.</h3>
<ul>
<li>We stress, value, and encourage the importance of time off. Take as much time off as you need, no questions asked.</li>
</ul>
<h3 id="it-s-all-about-the-team-">It&rsquo;s all about the team.</h3>
<ul>
<li>Physical and mental health is important to us.</li>
<li>Our learning stipend gives you room for personal development and growth. Read and learn! Attend conferences, meetups, and lectures.</li>
<li>We value and invest in your personal growth. We value networking events, applaud volunteer work, and encourage side projects and hobbies.</li>
<li>We value sharing and receiving honest and constructive feedback.</li>
</ul>
<h3 id="keep-it-simple-">Keep it simple.</h3>
<ul>
<li>We value smaller, independent teams.</li>
<li>We aim to start simple and keep it simple.</li>
<li>No unnecessary acronyms. No stuffy jargon.</li>
<li>While we&rsquo;re now venture-backed, we still aim to be lean, bootstrapped, and self-sufficient.</li>
</ul>
<h3 id="open-source-is-in-our-dna-">Open source is in our DNA.</h3>
<ul>
<li>As a company and a product, we default to open source where appropriate.</li>
<li>We believe in the ethos of open source and in open core business models.</li>
<li>We are stewards of our open source codebases, and we strive to be good citizens in the broader open source community.</li>
</ul>
<h2 id="our-philosophy">Our Philosophy</h2>
<p>At RunAs, we strongly believe that the most fantastic part of us is our awesome people. Our teams are the best ambassadors of our business and a part of our candidate attraction, strategy. We trust people, we reward people, we want people, we love people. We also love the White House statement:</p>
<li>Dream in Years,</li>
<li>Plan in Months,</li>
<li>Evaluate in Weeks,</li>
<li>Ship Daily</li>
<p>and apply it every day.</p>
<p>A commitment to culture and customers has helped RunAs grow from humble beginnings to serving more people every day. Our passion for support, happiness and quality flow through everything that we do.</p>
<h2 id="our-vision">Our Vision</h2>
<h4 id="our-vision-at-runas-is-to-build-the-simplest-and-most-automated-social-media-platform-">Our vision at RunAs is to build the simplest and most automated social media platform.</h4>
<p>In addition to our product and service goals, we have a focus on building one of the most unique and fulfilling workplaces that exist, by rethinking a lot of traditional practices.</p>
<h3 id="consistent-support-improvement">Consistent Support &amp; Improvement</h3>
<h4 id="we-are-working-very-hard-and-we-iterate-and-improve-our-product-again-and-again-">We are working very hard and we iterate and improve our product again and again.</h4>
<p>We are always keen to hear your feedback and are thankful to hear about your experience with RunAs. You will find us online for the larger part during any day of the week. Hit us up if you need anything, we will be quick in responding and helping you out.</p>
<h2 id="our-team">Our Team</h2>
<h3 id="we-re-a-fully-distributed-team-meaning-that-we-ll-be-fixing-bugs-and-replying-to-your-questions-at-any-time-">We're a fully distributed team, meaning that we'll be fixing bugs and replying to your questions at any time.</h3>
<p>The RunAs team works from multiple countries and continents. Living in a place that makes you happy is one of our core beliefs. Didier started as technical engineer to move few years ago on the management and product side. Mathieu stayed in the practical world with a whole technical view of different solutions.</p>
<p>Didier has almost 12 years of Engineering experience as IC (developer, sysadmin, production engineer, project manager, architect) &amp; Management roles. He loves to share and learn from others. He managed different teams with different context. He had lead full stack teams ranging from web, mobile to API, but mainly DevOps/SRE teams.</p>
<p>His motto: Don't fear the unknown. Learn, Accept and Change.</p>
<p>Mathieu is a kind of modern traveler, working as a nomad worker and living with bare minimum. He worked with many companies in lot of different fields during the last 10 years. He Likes simple things and clear explanation. Fall in love with FreeBSD/OpenBSD and Erlang/Haskell long time ago.</p>
<p>His motto: Keep it simple, stupid.</p>
    </div>
</div>
<!-- End Roadmap Home -->
