<!-- Product Home -->
<div class="main">
	<div class="section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h2 class="title">Let's talk RunAs Product</h2>
					<h5 class="description">We want to become a game changing company on marketing and broad communication. Our purpose is the pain to people who are struggling with more and more social networks every day like Facebook, Linkedin, Medium, RSS, Twitter, Instagram, Slack, Mailchimp, ...
					</br>RunAs is a platform of brand-building products - we help your team to automate all social media in one place.
				  </br>Our platform helps in content curation, scheduling, social listening, backup, recommendation and analytics and works with Facebook Pages & Groups, Instagram, YouTube, Twitter, Pinterest, LinkedIn, Wordpress, Slack, Medium and many more.</h5>
					<br>
					<a href="/product/" class="btn btn-danger btn-round">See Details</a>
				</div>
			</div>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-album-2"></i>
						</div>
						<div class="description">
							<h4 class="info-title">Content Curation</h4>
							<p class="description">Curating articles and images for your social accounts has never been so easy. Take away the headache of crafting separate posts for each individual social profile and automatically customize your posts for all your profiles.</p>
							<a href="/product/#content" class="btn btn-link btn-danger">See more</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-bulb-63"></i>
						</div>
						<div class="description">
							<h4 class="info-title">Publish</h4>
							<p>Keep on top of your social media game with easy scheduling and publishing to all your social media accounts. Compose your own posts and schedule them to go out later.</p>
							<a href="/product/#publish" class="btn btn-link btn-danger">See more</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-chart-bar-32"></i>
						</div>
						<div class="description">
							<h4 class="info-title">Analytics</h4>
							<p>You can use the analytics to see your social media performance, understand how to improve your results, and create reports for your manager or clients. Track, analyse and download your social reports.</p>
							<a href="/product/#analytics" class="btn btn-link btn-danger">See more</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-sun-fog-29"></i>
						</div>
						<div class="description">
							<h4 class="info-title">Recommendation</h4>
							<p>Track every mention, comment and reply in your inbox. Automatically find and recommend articles and images your audience will love, so you can share them to all your social profile and keep your timelines</p>
							<a href="/product/#mention" class="btn btn-link btn-danger">See more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End Product Home -->
