<!-- Subscribe Home -->
{{!-- Only output subscribe form if the subscribers option is enabled in admin --}}
{{#if @labs.subscribers}}
<div class="section landing-section section-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				{{!-- Only output subscribe form if the subscribers option is enabled in admin --}}
				{{#if @labs.subscribers}}
				<section id="subscribe-section" class="contact-form text-center" >
					<h2 class="title">Keep in Touch?</h3>
					<p class="card-description" style="color:white";>Get the latest news delivered to your inbox.</p>
					{{subscribe_form placeholder="Your email address" form_class="subscribe-form" input_class="form-control text-center subscribe-input" button_class="btn btn-danger btn-lg btn-fill"}}
				</section>
				{{/if}}

				{{#if error}}
				    <p class="main-error">{{error.message}}</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
</div>
{{/if}}
<!-- End Subscribe Home -->
