<!-- Testimonial Home -->
<div class="section section-testimonial text-center">
    <div class="container">
        <h2 class="title">What people think</h2>
        <div id="carouselrunas" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-4.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Jay Z, Producer</p>
                        <h3>"I absolutely love this app! It's truly amazing and looks awesome!"</h3>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-3.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Drake, Artist</p>
                        <h3>"This is one of the most awesome apps I've ever seen! Wish you luck RunAs!"</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-2.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Rick Ross, Musician</p>
                        <h3>"Loving this! Thank you for the work you put into this."</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-red">
                <li data-target="#carouselrunas" data-slide-to="0" class="active"></li>
                <li data-target="#carouselrunas" data-slide-to="1"></li>
                <li data-target="#carouselrunas" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<!-- End Testimonial Home -->
